p {
  animation: sweep 0.5s ease-in-out;
}
@keyframes sweep {
  0% {
    opacity: 0;
    margin-top: -10px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
.bg-desktop {
  background-image: url(/src/images/bg-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-position: top;
}
.para {
  color: hsl(240, 8%, 54%);
  font-size: 0.719rem;
  margin-bottom: 10px;
  width: 15.625rem;
}

.field:hover {
  color: hsl(14, 88%, 65%);
}
@media (min-width: 768px) {
  .para {
    color: hsl(240, 8%, 54%);
    font-size: 0.75rem;
    margin-bottom: 10px;
    width: 20rem;
  }
  .bg-desktop {
    background-image: url(/src/images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position: -36.875rem 65%;
  }
}
